@import url("../include/header.inc.css");
@import url("../include/nav.inc.css");

.avis {
	background: white;
	border: ;
	margin: 15px;
	padding: 5px;
}

body {
	background-color: lightgray;
	text-align: left;
	border: 1px outset black;
}
