@import url("../include/header.inc.css");
@import url("../include/nav.inc.css");

body {
	background-color: lightgray;
    /*text-align: center;*/
    border: 1px outset black;
}

.user {
	background: white;
	border: ;
	margin: 5px;
	padding: 5px;
}
